<p>to-do-list-detail works!</p>

<c-row>
  <c-col md="6">
    <c-card>
      <c-card-header class="bg-primary text-white">Form No Validation</c-card-header>
      <c-card-body>
        <form [formGroup]="form" (ngSubmit)="submitForm()" cForm novalidate>

            <c-row class="mt-2">
              <c-col sm="12" md="6">
                <label for="toDo">To Do</label>
                <input formControlName="toDo" type="text" placeholder="" class="mt-1" cFormControl/>
              </c-col>

              <c-col sm="12" md="6">
                <label for="namaDepan">Time</label>
                <input formControlName="time" type="text" placeholder="" class="mt-1" cFormControl/>
              </c-col>

            </c-row>

            <button
            (click)="submitForm()"
            color="primary"
            class="mt-2"
            cButton
            >
            Update
          </button>

            <button
            (click)="back()"
            color="primary"
            class="mt-2 ms-2"
            cButton
            >
            Back
          </button>

            <!-- <button
            (click)="resetForm()"
            color="primary"
            class="mt-2 ms-1"
            cButton
            >
            Reset
          </button> -->
        </form>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
